{% extends "notebook/base.html" %}
{% load staticfiles%}

{% block title %}My Notebook{% endblock %}

{% block nav %}
{% include "notebook/navigation.html" %}
{% endblock %}

{% block content %}
<div class="wrapper container">

  <div class="feed_area">

  {% include "notebook/note_submit.html" %}</br></br>




  <div class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ posts.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>

      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">next</a>
      <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>


  <div class="posts" id="posts">
    {% for note in posts.object_list %}
    <div class="post" id="{{note.pk}}">

      <span class="sn">{{forloop.counter0|add:posts.start_index }}</span>
      <span class="date date_style">
        {% if note.date %}{{ note.date|slice:":6" }}<br>{{ note.date|slice:"8:12" }}{% endif %}
      </span>

      {% if note.prelims %}
      <span class="prelims" data-value="{{note.prelims}}"><span class="prelims_indicator">Pre</span></span>
      {% else %}
      <span class="prelims empty" data-value=""></span>
      {% endif %}

      {% if note.paper.all %}
      <span class="paper" data-value="[{% for each in note.paper.all %}{{each.pk}},{% endfor %}]">
       {% for each in note.paper.all %} <span class="mychip">{{each.paper_name}}</span> {% endfor %}
     </span>
     {% else %}
     <span class="paper" data-value="[]"></span>
     {% endif %}


     <span class="topic">{{note.topic}}</span>


     <div class="post_controls">
      <span class="source"><a target="_blank" id="source_link_{{note.pk}}" href="{{note.source}}"><i class="fas fa-external-link-alt"></i></a></span>

      <ul id="dropdown_pc_{{note.pk}}" class="dropdown-content">
        <li><a class="modal-trigger edit_form_btn" href="#post_model" data-pk="{{note.pk}}">Edit</a></li>
        <li><a class="modal-trigger delete_form_btn" href="#post_model" data-pk="{{note.pk}}">Delete</a></li>
      </ul>
      <a class="dropdown-trigger" href="#!" data-target="dropdown_pc_{{note.pk}}"><i class="fas fa-ellipsis-v"></i></a>
    </div>

    <p class="title">{{note.title}}</p>
    <p class="details">{{note.details}}</p>
  </div>
  {% endfor %}
</div>

</div><!--/feed_area -->



</div><!--/container -->
{% endblock content %}






{% block js %}
<script type="text/javascript">


//side-nav collapser
$(document).ready(function(){
  $(".button-collapse").sidenav(); // Menu collapser
  $('.collapsible').collapsible();// Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //drop-down init
  $('.dropdown-trigger').dropdown({
    alignment:'right',
    coverTrigger: false,
    hover: true,

  }
  );
});

//model initialise
$(document).ready(function(){
  $('.modal').modal({
    // endingTop: '5%',
    // onCloseEnd: ,
  });
  $('select').formSelect();
  $('.datepicker').datepicker();
});



</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".edit_form_btn").click(function(){
    // console.log($(this));
    var note_id = $(this).attr("data-pk");
    var edit_form = document.forms['note_form'];
    edit_form.reset();
    data_paper = $('#'+note_id).children('.paper').attr("data-value");
    // console.log(eval(data_paper));

    edit_form.action = '{% url 'note_post' %}' + note_id;
    // edit_form.method = 'PUT';
    // console.log(edit_form.action);

    edit_form.elements["entry_pk"].value = note_id;
    edit_form.elements["source"].value = document.getElementById('source_link_'+note_id).href;
    edit_form.elements["topic"].value = $('#'+note_id).find('.topic').text();
    edit_form.elements["title"].value = $('#'+note_id).children('.title').text();
    edit_form.elements["details"].value = $('#'+note_id).children('.details').text();

    // edit_form.elements["prelims"].value = $('#'+note_id).children('.prelims').attr("data-value");

    if ('True' == $('#'+note_id).children('.prelims').attr("data-value")){
      $(edit_form.elements["prelims"]).attr("checked", "checked")
    };


    $('#paper_select').val(eval(data_paper));
    $('#paper_select').formSelect();

    M.updateTextFields();

    // Materialize.updateTextFields();


    // var k = $(this).parent('div.post').find('.post').get();
    // console.log(k);
  });

    $("#new_form_btn").click(function(){
      var new_form = document.forms['note_form'];
      new_form.reset();
      new_form.action = '{% url 'note_post' %}';
      new_form.method = 'POST';
    });





  });


</script>

<script type="text/javascript">
   $(document).ready(function(){
  $("#note_form").validate({
    rules: {
      title: {
        required: true,
        minlength: 5
      },
      date: {
        required: true,
        minlength: 2
      },
      source: {
        required: true,
        minlength: 10,
        maxlength: 200
      },
    },
      //For custom messages
      messages: {
        title: {
          required: "Please enter your first name.",
          minlength: "You sure you're named with one letter?"
        },
        date: {
          required: "Please enter your last name.",
          minlength: "You sure you're named with one letter?"
        },
        source: {
          required: "Please enter your last name.",
          minlength: "You sure you're named with one letter?"
        },
      },

      submitHandler: function (form) {
        $.ajax({
          // type: action_method,
        // Use the name of the url not '/textbook/'
        // url: action_url,
        data: form,
        cache: false,
        //must, tell jQuery not to process the data
        contentType: false,
        processData: false,
        success: function(data) {
          if (data) {

            // $this_button.html("Deleted");
            alert('Success');
          } else {

          }
        },
        error: function (rs, e) {
          alert('Sorry, there was an error. Please try again');
        }
      });

      },


  });
    });
</script>

<!-- <script>
  $('#note_submit').click(function(e){
    e.preventDefault();
    $form_data = $(this).closest("form")[0];
    var form = new FormData($form_data);

    $this_button = $(this);
    $(this).html('wait..').addClass('loading_btn');

    // console.log($form_data);
    var action_url = $form_data.getAttribute('action');
    var action_method = $form_data.getAttribute('method');

    $.ajax({
      type: action_method,
        // Use the name of the url not '/textbook/'
        url: action_url,
        data: form,
        cache: false,
        //must, tell jQuery not to process the data
        contentType: false,
        processData: false,
        success: function(data) {
          if (data) {

            $this_button.html("Deleted");
          } else {

          }
        },
        error: function (rs, e) {
          alert('Sorry, there was an error. Please try again');
        }
      });
  });
</script>

 -->


{% endblock %}

